venv/
__pycache__/
**/__pycache__/
*_cache/
*coverage*
.env
.terraform
.terraform.*
secrets.tfvars
app_errors.log
dep_ingestion
archives
utils_ingestion_dep
build_ingestion_layer
build_transform_layer